extends layout


block content
  h1= title
  p Welcome to #{title}
          
  h3 Agents.
  .agentList-container.list-container
    each item in items
      if (item["Title"] == "Realtor Associate" || item["Title"] == "Broker Associate" )
        .agentList-item
          a(href="/agents/" + item["Username"]) !{item["lastName"]}, !{item["firstName"]}

  //- h3 Staff
  //- .staffList-container.list-container
  //-   each item in items
  //-     if !(item["Title"] == "Realtor Associate" || item["Title"] == "Broker Associate" )
  //-       .agentList-item
  //-         a(href="/agents/" + item["Username"]) !{item["Preferred_Name"]}
  //- hr