extends layout

block content
	#global-properties-city

		include inline-css/_site-css.pug
		style
			include inline-css/global-properties-css.css
		
		.globalPropsContainer

			.globalProps__title.globalProps__title__regionsPage
				//- p= cities
				h2 Welcome to #{cities.affiliateCity}, #{cities.affiliateState}
				p #{cities.affiliateBio}

			if cities.listing1StreetAddress || cities.listing2StreetAddress || cities.listing3StreetAddress

				.globalProps__listingsWrapper

					h2 Featured Listings In #{cities.affiliateCity}
					
					mixin listingItem
						.globalProps__listingItem
							.globalProps__listingPhoto(style="background-image:url('" + listingImageUrl + "')")
							.globalProps__listingInfo
								.globalProps__listingInfo__address
									h3= listingAddress
								.globalProps__listingInfo__price
									h4= listingPrice
								.globalProps__listingInfo__descript
									p= listingDescript
								.globalProps__listingInfo__button
									a.nan-btn-primary(href= listingUrl, target="_blank") LEARN MORE

					if cities.listing1StreetAddress
						- var listingImageUrl = cities.listing1Image
						- var listingAddress = cities.listing1StreetAddress
						- var listingPrice = cities.listing1Price
						- var listingDescript = cities.listing1Description
						- var listingUrl = cities.listing1Url
						+listingItem
					if cities.listing2StreetAddress
						- var listingImageUrl = cities.listing2Image
						- var listingAddress = cities.listing2StreetAddress
						- var listingPrice = cities.listing2Price
						- var listingDescript = cities.listing2Description
						- var listingUrl = cities.listing2Url
						+listingItem
					if cities.listing3StreetAddress
						- var listingImageUrl = cities.listing3Image
						- var listingAddress = cities.listing3StreetAddress
						- var listingPrice = cities.listing3Price
						- var listingDescript = cities.listing3Description
						- var listingUrl = cities.listing3Url
						+listingItem

			if cities.affiliateToDo1Title || cities.affiliateToDo2Title || cities.affiliateToDo3Title
			
				.globalProps__thingsToDoWrapper

					h2 Things To Do in #{cities.affiliateCity}

					mixin thingsToDoItem
						.globalProps__thingsToDoItem
							h3= thingsToDoTitle
							img(src= thingsToDoImage)
							p= thingsToDoDescript
					
					if cities.affiliateToDo1Title
						- var thingsToDoTitle = cities.affiliateToDo1Title
						- var thingsToDoImage = cities.affiliateToDo1Image
						- var thingsToDoDescript = cities.affiliateToDo1Description
						+thingsToDoItem

					if cities.affiliateToDo2Title
						- var thingsToDoTitle = cities.affiliateToDo2Title
						- var thingsToDoImage = cities.affiliateToDo2Image
						- var thingsToDoDescript = cities.affiliateToDo2Description
						+thingsToDoItem

					if cities.affiliateToDo3Title
						- var thingsToDoTitle = cities.affiliateToDo3Title
						- var thingsToDoImage = cities.affiliateToDo3Image
						- var thingsToDoDescript = cities.affiliateToDo3Description
						+thingsToDoItem

			.globalProps__affiliate
				.globalProps__affiliateInfo
					h2 #{cities.affiliateName}
					p #{cities.affiliateBio}
					a.nan-btn-primary(href= cities.affiliateWebsite, target="_blank") VISIT WEBSITE
				.globalProps__affiliateImage(style="background-image:url('" + cities.affiliateLogoUrl + "')")
					
			.divider__orange

			include partials/about-christies-block

			include partials/cms-form