extends layout-nan

block content
	// Copy the div below
	#single-development-landing-page
		include inline-css/_site-css

		style
			include ../public/stylesheets/single-development-b.css
		
		- var a = devs.SingleDevelopmentImage1URL
		- var b = devs.SingleDevelopmentImage2URL
		- var c = devs.SingleDevelopmentImage3URL
		- var d = devs.SingleDevelopmentImage4URL
		- var e = devs.SingleDevelopmentImage5URL
		- var f = devs.SingleDevelopmentImage6URL

		- var g = [b,c,d,e,f]
		- console.log(g)

		h1= devs.DevelopmentName.toUpperCase()
		
		.single-development__mainImage(style='background-image:url("' + a + '"')
		.single-development__imageGrid--outer
			.single-development__imageGrid--inner
				each img, index in g
					a(href='#img_' + index + '').single-development__imageGrid__image.col-lg-8(style='background-image:url("' + img + '"')
			each img, index in g	
				a.single-development__imageGrid__image--lightbox(id='img_' + index + '', href='#_')
					img(src= img)




		section.single-development__content
			.single-development__content__details.col-lg-10
				h2 Starting in the $#{devs.SingleDevelopmentStartingPricePoint}s
				.single-development__content__details__features
					.single-development__content__details__features__item.col-lg-7
						h3= devs.SingleDevelopmentBedrooms
						p Bed
					.single-development__content__details__features__item.col-lg-7
						h3= devs.SingleDevelopmentBathrooms
						p Bath
					.single-development__content__details__features__item.col-lg-7
						h3= devs.SingleDevelopmentTotalAreainSqft
						p Sq. Ft
				aside.single-development__content__location
					img(src= "https://b386363e680359b5cc19-97ec1140354919029c7985d2568f0e82.ssl.cf1.rackcdn.com/ckeditor_assets/pictures/root/social-icons/245373/geo.png" style="height:32px;width:32px")
					p #{devs.DevelopmentCityorNeighborhood}, #{devs.SingleDevelopmentCity}

			.single-development__content__map.col-lg-12
				iframe(allowfullscreen='' frameborder='0' height='300' src='https://www.google.com/maps/embed/v1/place?key=AIzaSyBqJ_tTRZkle-Wnn9N7I7ahuz9DhLfeZag&q=' + devs.SingleDevelopmentAddress.replace(/\s/g, '+') + ',+' + devs.SingleDevelopmentCity + '' style="border:0" width="100%")

		summary.single-development__description
			h2.single-development__description__title WELCOME TO #{devs.DevelopmentName.toUpperCase()}
			p= devs.DevelopmentDescription
				

		
		include partials/cms-form