extends layout-nan


block content

    include inline-css/taxonomy-affiliates-css

    .affiliates__content
        nav
            .affiliates__sidebar
                h3 Select a Region
                ul
                    each region in regions
                        li
                            a(href='#' + region.toLowerCase().replace(/\s/g, '-').replace(/\./g,''))= region    
            .≈
                //- h3 Select a Region
                select
                    option(value='' selected='selected') Select a region...
                    each region in regions
                        option(value='#' + region.toLowerCase().replace(/\s/g, '-').replace(/\./g,''))= region    
                        
        .affiliates__list
            each region in regions
                .affiliate__region
                    h4.affiliate__region--title(id=region.toLowerCase().replace(/\s/g, '-').replace(/\./g,''))= region

                    each item in items
                        if (item["Country"] === region)
                            .affiliate__affiliateOffice

                                .affiliate__affiliateOffice--details
                                    h5= item["AffiliateName"]
                                    | #{item.StreetAddress}
                                    br
                                    | #{item.Locality}, #{item.Region} #{item.PostalCode}
                                    if (item["AffiliateURL"])
                                        .affiliate__affiliateWebsiteWrapper
                                            a.nan-btn-primary(href= item["AffiliateURL"] target='_blank') Website

                                if (item.LogoUrl)
                                    .affiliate__affiliateOffice--logoWrapper
                                        .affiliate__affiliateOffice--logo
                                            img(src= item.LogoUrl, style="width:150px;height:auto;")
                hr